.header{
	font-size: 1.7rem;
	line-height: 1.7;
	margin: 50px auto;
}
h1.header span{
    display: block;
}
.header strong{
  font-size: 20px;
  font-weight: 900;
}

/*---- section 1 ----*/
.section{
	padding-bottom: 2rem;
}
.container .col-md-6{
	/*border: 1px solid red;*/
}

.form{
	border: 5px solid #009;
	padding: 2.2rem 1.5rem;
}
.form-header, .section-header{
	margin-bottom: 1.5rem;
	font-size: 20px;
	font-weight: 700;
}
.form input{
	margin-bottom: 1rem;
}
.form-btn{
	margin: 10px auto;
}

/*---- section 2 ----*/

/*.section-header{
    font-size: 20px;
    font-weight: 700;
}*/

.feature{
    margin: 60px auto;
}
.feature p{
	margin-top: 20px;
}
.feature-box{
	height: 160px;
}
